/* Потом удалить */
.header {
    position: fixed;
    width: 100%;

    z-index: 1000;
}

.scrol-header .container .container__header{
    background-color: var(--black-color);
    transition: all 1s ease-in-out;
}

.scrol-header .container .container__header .menu .scrol-container .phone {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    align-items:center;
}

.menu .scrol-container {
    position: absolute;
    display: flex;
    column-gap: 30px;
    top: 0;
    right: 0;
    z-index: var(--upper-middle-layer);
}

.scrol-header .container .container__header .menu .scrol-container .phone span {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container__header {
    padding: 0 165px;
}


.menu {
    position: relative;
    display: flex;
    column-gap: 50px;
    align-items: center;
    z-index: var(--upper-upper-layer);
}

.list__menu {
    display: flex;
    column-gap: 50px;
}

.item__menu {
    position: relative;
    z-index: var(--upper-upper-layer);
}

.item__menu .link__item {
    position: relative;
    z-index: var(--upper-upper-layer);
}

.under-menu {
    display: none;
    position: absolute;
    padding-top: 30px;
    background-color: transparent;
    left: -20px;
    top: 0;
    z-index: var(--upper-middle-layer);
}

.under-menu ul {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
}

.under-menu ul li {
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
}


.serch {
    display: flex;
    column-gap: 10px;
}

.logo {
    margin-right: 19px;
}

.left-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.box__sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-end;
    margin-bottom: 26px;
    margin-top: 20px;
}

.title__sidebar {
    color: var(--green-color);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
}

.description__sidebar {
    font-size: 10px;
    text-align: justify;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
}

.wrapper {
    border-radius: 10px;
    background-color: #00000033;
}

.social-icons {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding: 20px 18px;
    row-gap: 20px;
    margin-top: 34px;
    margin-bottom: 164px;
}

.icon svg {
    height: 100%;
    width: 100%;
}

.icon:hover svg path{
    fill: var(--pink-color);
    transition: all .3s ease-in-out;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 7px;
    font-weight: 400;
    line-height: normal;
    align-self: flex-end;
    margin-bottom: 20px;
}

.phone {
    display: flex;
    color: var(--green-color);
    letter-spacing: 1.6px;
    font-size: 16px;
    column-gap: 6px;
    align-items: center;
}

.link-order-call {
    padding: 9px 19px;
    border-radius: 10px;
    color: var(--green-color);
    letter-spacing: 1.4px;
    font-size: 14px;
}
.link-order-call:hover {
    background: var(--green-color);
    color: #000;
    /* border: 0.5px solid transparent; */

    transition: all .3s ease-in-out;
}
.link-order-call:active {
    background: #43FFD2;
    box-shadow: 0px 0px 10px 0px #01281F inset;

    transition: all .3s ease-in-out;
}
.bucket {
    position: relative;
    align-self: flex-end;
    padding: 15px;
}

.bucket:hover svg path{
    fill: var(--pink-color);
    transition: all .3s ease-in-out;
}
.bucket:hover .count__bucket {
    background-color: var(--pink-color);
    transition: all .3s ease-in-out;
}

.count__bucket {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: var(--green-color);
    border-radius: 50%;
    top:50%;
    right: 20%;

    transform: translate(0,-100%);

    color: var(--black-color);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

