@import url(reset.css);
@import url(menu.css);
@import url(main.css);
@import url(product.css);
@import url(slider.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* font-family: 'Oswald', sans-serif; oswald */
/* font-family: 'Cormorant', serif; cormorand*/
/* font-family: 'Roboto Condensed', sans-serif; roboto */

:root {
    --width: 1440px;
    --black-color:#040A0A;
    --white-color:#FFF;
    --green-color:#43FFD2;
    --pink-color:#D978AC;
    --width-img:350px;
    --height-img:450px;
    --lower-layer:0;
    --middle-layer:1;
    --upper-layer:2;
}

.body {
    position: relative;
}

.container {
    max-width: var(--width);
    width: 100%;
    margin: 0 auto;
}
* {
    color: var(--white-color);
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
}
.main-title {
    font-family: 'Cormorant', serif;
    font-size: 200px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 40px;
}

.title {
    font-family: 'Cormorant', serif;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 2px;
}

.description {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
}

.title-list {
    color: var(--green-color);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

.name-item-list {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
}

.link-list {
    color: var(--pink-color);
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration: underline;
}

.button-g {
    background: var(--green-color);
    color: #000;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

.button-transparent {
    padding: 16px 76px;
    background: transparent;
    border: 0.5px solid #FFF;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

a.button_show {
    color: var(--pink-color);
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
    justify-self: right;
}

.ellipse-p {
    background: #7D2253;
    filter: blur(125px);
}

.ellipse-g {
    background: #43FFD2;
    filter: blur(125px);
}
